<div class="login-form-wrap" *ngIf="!isAuthenticated">
    <img src="../../assets/login.jpg">
    <h2></h2>
    <div class="alert alert-danger" *ngIf="error">
        <p>{{ error }}</p>
    </div>
    <form class="login-form" [formGroup]="authForm" (ngSubmit)="onSubmit(authForm)">
        <input type="email" id="email" name="email" placeholder="Email Address" formControlName="email">
        <div *ngIf="!email.valid && (email.dirty ||email.touched)">
            <div [hidden]="!email.errors?.['required']">
                <span class="text-danger">Please enter your email!</span>
            </div>
            <div [hidden]="!email.errors?.['email']">
                <span class="text-danger">Please enter a valid email!</span>
            </div>
        </div>
        <input type="password" id="password" name="password" placeholder="Password" formControlName="password">
        <div *ngIf="!password.valid && (password.dirty ||password.touched)">
            <div [hidden]="!password.errors?.['required']">
                <span class="text-danger">Please enter your password!</span>
            </div>
            <div [hidden]="!password.errors?.['minlength']">
                <span class="text-danger">Please enter a valid password!</span>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Login
        </button>
    </form>
    <div class="create-account-wrap">
        <p>If you forgot your password</p>
        <button class="btn btn-secondary" type="button"> Click here!
        </button>
    </div>
</div>